*{
  /*background-color: white;*/
  box-sizing: border-box;
  -moz-box-sizing:border-box;	/* Firefox */
  -webkit-box-sizing:border-box;	/* Safari */
}

.nav  .container {
    line-height: 65px;
    background-color:#1a1a1a;
    background-size: contain;
    height:60px;
}

.link{
    color: #428bca;
    font-size: 25px;
    background-color: black;
}

.link:hover{
    color: #e6b800;
    font-size: 30px;
    background-color: black;
}


.iphone_body{
  /*background-color: #F5F6F8;*/
  background-color: #F5F6F8;
  width: 360px;
  height: 780px;
  position: relative;
  top: 10px;
  left: 500px;
  border-radius: 40px;
  border: 5px solid #e3dbce;
}


.power{
  width: 65px;
  height: 4px;
  background: linear-gradient(to right,#b49c83,#b49c83 1px,#dcc8b0 2px,#dcc8b0 2px,#bbab97 3px,#a5907c 63px, #dcc8b0 64px,#dcc8b0 64px,#b49c83 65px,#b49c83 100%);
  position: absolute;
  top: -8px;
  left: 260px;
}

.music{
  height: 40px;
  width: 4px;
  background: linear-gradient(#b49c83,#b49c83 1px,#dcc8b0 2px,#dcc8b0 2px,#bbab97 3px,#a5907c 38px, #dcc8b0 39px,#dcc8b0 39px,#b49c83 40px,#b49c83 100%);
  position: absolute;
  top: 113px;
  left: -8px;
}

.camera{
  background-color: #6e6f6f;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 30px;
  left: 160px;
  border-radius: 100%;
}

.cameras{
  background-color: #123188;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 34px;
  left: 164px;
  border-radius: 100%;
}


.sensor{
  background-color: #6e6f6f;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 60px;
  left: 110px;
  border-radius: 100%;
}

.dynamic{
  background-color: #1d1c1b;
  width: 72px;
  height: 10px;
  position: absolute;
  top: 60px;
  left: 132px;
  border-radius: 30px;
  box-shadow: 0 0 0 3px #e0e1e3;
}

.display{
  background-color: #C7E5F4;
  width: 320px;
  height: 550px;
  position: absolute;
  top: 100px;
  left: 15px;
  border: 3px solid black;
  text-align:center;
}

.button{
  background-color: #F5F6F8;
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 100%;
  top: 680px;
  left: 140px;
  border: 3.5px solid #e3dbce;
}


/*footer設定*/
footer{
  height: 60px;
  line-height: 80px;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}
