div{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    text-align: center;
    line-height: 100px;
}

.box1{
    transition: width 2s , height 5s , background-color 3s , transform 6s;
/*    Safari  */
    -webkit-transition: width 2s , height 5s , background-color 3s ,-webkit-transform 6s;   
}

.box1:hover{
    width: 400px;
    height: 500px;
    background-color: rgb(51, 100, 149);
    transform: rotate(180deg);
/*    Safari  */
    -webkit-transform: rotate(180deg);
}


.box2{
    transition-property: width,height;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 2s;
/*    Safari  */
     -webkit-transition-property: width,height;
     -webkit-transition-duration: 2s;
     -webkit-transition-timing-function: linear;
     -webkit-transition-delay: 2s;
}

.box2:hover{
    width: 300px;
    height: 300px;
}